icon-16.png filter=lfs diff=lfs merge=lfs -text
icon-256.png filter=lfs diff=lfs merge=lfs -text
icon-48.png filter=lfs diff=lfs merge=lfs -text
icon-64.png filter=lfs diff=lfs merge=lfs -text
icon-128.png filter=lfs diff=lfs merge=lfs -text
